[user]
  name = Nic Cope
  email = n+git@rk0n.org

[core]
  editor = vim

[alias]
  b = branch
  ca = commit -a
  d = diff
  ll = log --graph --abbrev-commit --decorate --format=format:'%C(bold blue)%h%C(reset) - %C(bold green)(%ar)%C(reset) %C(white)%s%C(reset) %C(dim white)- %an%C(reset)%C(auto)%d%C(reset)' --all
  p = status
